/*-------------------------------------------------------------------------------------------*/
/* Themnific admin styles */
/*-------------------------------------------------------------------------------------------*/

.updated, .error {display:none!important} /* disable the admin notices */

#themnific_container  { margin:45px 30px; width: 856px; position:relative; z-index: 0 ; 
 background:#f7f7f7; border:1px solid #ddd;border-top:1px solid #ddd}

#themnific_container #header  { height: 70px;
 border-bottom:1px solid #e5e5e5; }

#themnific_container #header .logo  { float: left; margin: 24px 0 0 25px; height: 50px; }
#themnific_container #header .theme-info  { float: left; margin: 20px 0 0 20px;font-size: 16pt;  }
#themnific_container #header .theme-info h2  { display: block; line-height:1; font-family: Arial, Helvetica, sans-serif; font-weight: bold; letter-spacing:-1px; text-align: left; color: #000; margin:0 0 15px 0; }
#themnific_container #header .theme-info .theme  { font-family:Georgia, "Times New Roman", Times, serif; font-size:10pt; font-weight:normal; font-style:italic;color: #999; }
#themnific_container #header .theme-info .framework  { font-size: 12px; }
#themnific_container #header .theme-info b { font-size: 11px; text-transform: none; color: #444; font-weight: 100; }

#themnific_container #support-links  { height: 52px; padding: 0 0 0 20px; color:#999; text-shadow:none;  border-top:1px solid #fff; border-bottom:1px solid #e5e5e5; }
#themnific_container #support-links ul li  { display: inline; margin: 0 6px 0 0;}
#themnific_container #support-links ul li a:link, #support-links ul li a:visited  { line-height: 32px; font-size: 10px; font-weight: bold; text-transform: uppercase; text-decoration: none; color: #999;  }
#themnific_container #support-links ul li a:hover  { color: #999; }
#themnific_container #support-links ul li.right { float:right; margin: -2px 20px}

#themnific_container #main  { border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}

#themnific_container #themnific-nav  { float: left; position: relative; z-index: 9999; width: 160px; }
#themnific_container #themnific-nav ul { margin:-1px 0 0 0;}
#themnific_container #themnific-nav li { margin-bottom:0;}
#themnific_container #themnific-nav ul li a:link, #themnific-nav ul li a:visited  { display: block; padding: 12px 10px 12px 15px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-decoration: none; color: #999; border-top: 1px solid #fff;border-bottom: 1px solid #e5e5e5; }
#themnific_container #themnific-nav ul li.current a  { background:#fff;color: #000 !important; border-top: 1px solid #fff;border-bottom: 1px solid #eee; border-right: none;}
#themnific_container #themnific-nav ul li a:hover  { color: #000 !important; background-color: #eee !important; border:1px solid #fff;border-bottom:1px solid #ddd;border-right: none;border-left: none;}

#themnific_container #content  { background:#fff;float: left; min-height: 900px; width: 596px; margin-left: -1px; padding:15px 50px; font-family: "Lucida Grande", Sans-serif; border-left: 1px solid #e5e5e5;  }

#themnific_container #content .section { margin-bottom: 15px;}
#themnific_container #content .section h3.heading  { font-family: Arial, Helvetica, sans-serif; margin: 15px 0 15px 0; padding: 12px 0px; background:url(images/line-h.png) bottom repeat-x; font-size:13pt; letter-spacing:0; color: #369; text-shadow:1px 1px 2px #fff; }
#themnific_container #content .section .controls  { float: left; width: 345px; margin: 0 15px 0 0; }
#themnific_container #content .section .explain  { float: left; width: 225px; padding: 0 10px 0 0; font-size: 11px; color: #777;text-shadow:1px 1px 2px #fff }

#themnific_container #content .section-checkbox .controls { width:25px}
#themnific_container #content .section-checkbox .explain { width:540px}

#themnific_container #content .section-color .controls { width:125px}
#themnific_container #content .section-color .explain { width:440px}

#themnific_container #content .section-info  h3.heading {
 font-size: 14px; font-weight: 100; border: 0; margin-top: 20px; letter-spacing: -1px;  border-top: 1px solid #FFF298; margin-bottom: 0; background:#EFE186; padding: 10px 20px; }
#themnific_container #content .section-info  .controls { margin: 0 0 20px; padding: 15px 20px; width: auto; line-height: 1.5em; font-size: 14px; font-style: italic; font-family: Georgia,arial; background: #FFF298; border:1px solid #ECD852; color:#424242;}
#themnific_container #content .section-info  .controls small { font-size: 12px}

#themnific_container #content .section-info  h3.heading {
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
}
#themnific_container #content .section-info .controls{ 
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px; }

#themnific_container textarea, #themnific_container input, #themnific_container select {
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
border-style:solid;
border-width:1px;


	-webkit-box-shadow:inset 0 2px 5px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 2px 5px rgba(0,0,0,.1);
	box-shadow:inset 0 2px 5px rgba(0,0,0,.1); 
}

#themnific_container .controls input,#themnific_container .controls select,#themnific_container .controls textarea {
    margin-bottom: 20px !important;
    background-color: #f5f5f5;
	color:#555;
    border: 1px solid;
    border-color: #ccc #ccc #ddd #ccc;
    width: 330px;
    padding:8px 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,sans-serif;
    font-size: 12px;
}

#themnific_container .controls select { padding: 6px 6px 6px 4px; width: 240px; height:33px; }
#themnific_container .controls textarea {width: 345px; }


#themnific_container input[type=text]  { width: 340px; }

#themnific_container input.themnific-input-calendar  { width: 320px; }

#themnific_container input.checkbox  { width: 15px; }
#themnific_container input.themnific-radio { width: 15px; }

#themnific_container .controls .input-text-small { width: 60px; margin-right:10px}
#themnific_container .meta-two { margin-right:10px}

#themnific_container .controls .themnific-color {float:left; width: 80px; margin-left:5px; /* font-size:20px; height:34px;*/}

#themnific_container #content .section-typography .controls  { width:425px }
#themnific_container #content .section-typography .explain  { width:140px }

#themnific_container .controls .themnific-typography-size { width:70px; float:left}
#themnific_container .controls .themnific-typography-unit { width:50px; float:left}
#themnific_container .controls .themnific-typography-face { width:120px; float:left}
#themnific_container .controls .themnific-typography-style { width:110px; float:left}

#themnific_container .controls .themnific-radio-img-img { border:3px solid #fff; margin:0 5px 10px 0; display:none; cursor:pointer;}
#themnific_container .controls .themnific-radio-img-selected { border:3px solid #ccc}
#themnific_container .controls .themnific-radio-img-img:hover { opacity:.8; }

#themnific_container .controls .themnific-border-width { width:80px; float:left}
#themnific_container .controls .themnific-border-style { width:120px; float:left}


#themnific_container .group { padding-bottom:20px}
#themnific_container .group h2 { display:none;  border-bottom:3px solid #e7e7e7}

#themnific_container input:focus,#themnific_container select:focus, #themnific_container textarea:focus { background:#fff;}

#themnific_container .happy {
    background: #DBF6BE no-repeat 10px center;
    border: solid #9BBF65;
    border-width: 0px 1px 1px 1px;
    color: #060;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#themnific_container  .warning {
    background: #ffeeee no-repeat 10px center;;
    border: solid #dfbfbf;
    border-width: 0px 1px 1px 1px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#themnific_container .update_available {

    background: #FFFEEB no-repeat 10px center;;
    border: solid #CCCCCC;
    border-width: 0px 1px 1px 1px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;

	
	
}

/*
#themnific_container .themnific-uploaded-image { border:2px solid #dedede; -moz-border-radius: 3px; display:block;}
#themnific_container .themnific-uploaded-image img {margin:5px;display:block}
*/

#themnific_container .themnific-save-popup { position:absolute; -moz-border-radius:12px; background:rgba(0,0,0,0.4); color:#fff; font-size:24px; text-align:center; display:none}

#themnific_container .themnific-save-save { background:url(images/happy.png) 20px 50% no-repeat; padding:30px 30px 30px 70px}
#themnific_container .themnific-save-reset { background:url(images/warning.png) 20px 50% no-repeat; padding:30px 30px 30px 70px}

.upload_button_div { margin-bottom: 10px;}
.upload_button_div .button { padding:4px 14px;display: inline !important;}
.upload_button_div  .image_reset_button { margin-left:10px}

.upload-error { float:left;color:#666; font-size:10px; font-weight:bold; text-decoration:none; text-shadow:1px 1px 0 #FFFFFF;
				  margin: 0 10px 0 0; padding:3px 10px; background:#FFDFEC; -moz-border-radius:4px}

.reset-button { background:#c77 none !important;color:white!important;text-shadow:0 1px 0 #555 !important;}
.save_bar_top {  padding: 10px 20px 0px 20px; height: 35px; text-align: right;
border-top:1px solid #fff;}
.hide {display:none}

.ajax-loading-img-top { margin: 8px 4px 0; float:left}
.ajax-loading-img-bottom {}

.themnific-option-image { max-width:340px; }

#themnific_container .mini .controls select, #themnific_container #content .section .mini .controls {width: 70px; }
#themnific_container .mini .controls input, #themnific_container #content .mini .controls {width: 70px; }

#themnific_container #content .mini .explain { width:500px; }

.themnific-notice { background: #ffd1d1 ; border:1px solid #DFA8A7; -moz-border-radius:8px; text-align: center; margin-bottom: 15px  }

/*-------------------------------------------------------------------------------------------*/
/* FEEDS PAGE */
/*-------------------------------------------------------------------------------------------*/

		.themes-page div.info { height:30px;}
		.themes-page div.info a {  float:left; margin: 0 10px 0 0; padding:3px 10px; background:#D7E6F2; -moz-border-radius:4px}
		.themes-page div.info a:link,
		.themes-page div.info a:visited { color:#21759B; font-size:10px; font-weight:bold; text-decoration:none; text-shadow:1px 1px 0 #FFFFFF;}
		.themes-page div.info a:active,
		.themes-page div.info a:hover{color:#155876;}

        ul.themes li.theme {border-bottom: 1px #ddd solid; padding: 20px 0;  height:230px}
        ul.themes li.theme span{ display:block; float: left}
        ul.themes li.theme span img{  }
        ul.themes li.theme div {margin-left: 310px; }
        ul.themes li.theme div h2 { font-size: 20px; background: #eee; padding: 0px 10px; margin-bottom: 10px; border-bottom:1px #ddd solid; border-top:1px #e1e1e1 solid}
        ul.themes li.theme div h2 a:link, 
        ul.themes li.theme div h2 a:visited {  color: #555; text-decoration: none; font-style: normal;}
        
        ul.themes li.theme div p { width: 450px; padding-left: 5px;}
        ul.themes li.theme div p{ font-size: 12px!important;  margin: 10px 10px 10px 10px; }
        ul.themes li.theme div ul {padding-left: 0px; color: #ccc; float:left; border-top:#eee 1px solid; padding-top: 10px;margin-left:20px }
        ul.themes li.theme div ul li { list-style: disc; list-style-position:inside;  }
        ul.themes li.theme div ul li a:link, 
        ul.themes li.theme div ul li a:visited { font-size: 12px!important; text-decoration: none;}
        ul.themes li.theme div ul li a:hover, 
        ul.themes li.theme div ul li a:active { text-decoration: underline ;}

/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
