
@media screen and (max-width: 1201px) { 
    .container, .container_alt  {
        width: 100%;
        margin: 0 0;
        padding:0 20px;
    }

    #navigation.fixnav{ width:96% !important;}

    #header h1{ max-width:200px;}

    #header h1 img{ width:100%;}

    .tagcloud{ width:93%;}

    .maso-inn{ height:570px;}

    .aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn{ height:370px;}


}

@media screen and (max-width: 1026px){

.searchform input.s{ width:90px;}
.searchform input.s:focus{width:115px;}
    
}

/* Smaller screens */

@media screen and (max-width: 970px){

#header{
    padding:0;
    float:left;
    margin:0;
}

.headad{ float:left;}

#header a img.logo{margin:0 0 30px 0;}

ul#serinfo-nav li a{padding:0px 18px; margin-bottom:15px;}

.headad img,.headad ins{ width:100%;}

.imgwrap img,
.tab img,
img.main-single,
.imgwrap img:hover,
img.headimg,
img.attachment-format-standard,
img.singleimg,
.wp-caption img,
.wp-caption,
.postslider img{ max-width:100% !important;}

.maso-inn{ height:550px;}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn{ height:350px;}


.headad{ max-width:650px; max-height:90px}


}

/* Mobile */

@media screen and (max-width: 770px){

#core{margin:30px 0 0 0;}

ul#serinfo-nav>li{ width:100%;}

#main-nav>li>a{ padding:20px 10px 19px; font-size:12px;}

.nav .sf-sub-indicator{ right:3px; height:3px; width:3px; top:50%;}

#main-nav li a i{ display:none !important;}

.searchform input.s,
.searchform input.s:focus{ width:58px;padding: 20px 0 17px 5px !important;}

.searchform .searchSubmit{ display:none;}

ul.social-menu li{ width:32px;}

.social-menu-more{ width:99px;}

img.alignleft,
img.alignright,
img.aligncenter,
.wp-caption,
.wp-caption img{ max-width:100%; margin:5px 0 30px 0; padding:0;}

.format-video > iframe{ height:290px;}

.flickwrap img{ width:60px;}

.ratingblock h2{ font-size:14px;}

p.meta,p.meta a{ font-size:11px !important;}

.ad300 img,.ad300 ins{ width:100%;}

.postinfo{ padding:25px 9%;}

.maso-inn{ height:400px;}

.maso-inn p.meta,.mainflex p.meta{ display:none;}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn{ height:auto;}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn li{ height:150px; width:50%; position:relative; float:left; top:auto; left:auto;}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn li.maso1{ width:100%;height:240px;}

.maso5 img{width:130% !important; max-width:130% !important; right:-15% !important;}

.flexinside{padding: 10px 2.5%;}

.mainflex .slides h2,
.maso-inn li h3{ font-size:20px;}

.maso-inn li p.teaser{ font-size:12px;}

.ratingbar{ top:2px; right:2px;}

.twocol-one img,.threecol-one img,.threecol-two img,.fourcol-one img,.fourcol-two img,.fourcol-three img,.fivecol-one img,.fivecol-two img,.fivecol-three img,.fivecol-four img,.sixcol-one img,.sixcol-two img,.sixcol-three img,.sixcol-four img,.sixcol-five img{ width:100% !important;}

.fblock_small,.fblock_small:first-child{ padding:15px 0 !important;}

.fblock_small img{ width:60px; margin:5px 15px 10px 0;}

.mainflex:hover .flexinside{ bottom:15px;}


.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{width:46%; height:auto;}

/*
.woocommerce ul.products{ width:102.5%;}
.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{width:22%; height:300px;}
.woocommerce ul.products li.first, .woocommerce-page ul.products li.first{ clear:none;margin-left:3% !important;}
.woocommerce ul.products li.first, .woocommerce-page ul.products li.first{ clear:none;margin-right:3% !important;}
.woocommerce ul.products li:first-child, .woocommerce-page ul.products li:first-child{margin-left:0% !important;}
*/

}

@media handheld, only screen and (max-width: 740px) {

body {
font-size: 14px;
-webkit-text-size-adjust: none;
}

body {
width: 100%;
min-width: 0;
margin-left: 0px;
margin-right: 0px;
padding-left: 0;
padding-right: 0;
margin-top:0;
}

.container, .container_alt  {
    width: 100%;
    margin: 0 0;
    padding: 0 20px;
}

#content, #sidebar,#footer .threecol,
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol,
#footer .fourcol,
#core,#content{
width: auto;
float: none !important;
margin-left: 0;
margin-right: 0;
}

#content{ border-right:none; padding:0 0 0 0;}

a#triggernav,
a#triggernav-sec{ display:block}

#navigation,
#sec-nav{ display:none;}

.nav{ width:100%}

.nav li ul{ width:100%; border:none;}

#navigation{ position:relative !important;}

#navigation>.nav>li {width:100%;float:none;} 

.nav{ width:100%}

.nav li ul{ width:100%; border:none;}

.nav>li>a{ background:none !important;}

#header ul.social-menu{float:left;}

.searchform input.s,
.searchform input.s:focus{ width:100px;padding: 20px 0 17px 5px !important;}

img#logo{ float: none; display:block;}

#sidebar{
    padding-left:0;
    padding-right:0;
    margin-top:40px;
}

#core{margin:30px 0 0 0;}

#copyright{ padding:0 8%; width:84%; margin:10px 0;}

#copyright .fr{ float:left !important;}

.pagination{ margin-bottom:40px; height:35px;}

.resmode-No{ display:none; visibility:hidden;}

ul.ad125 li{ margin:7px !important;}

.flexinside,
.maso-inn .flexinside,
.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .flexinside{padding: 0px 2.5%; bottom:15px;}

.aq_row,
.aq-template-wrapper .aq_span4,
.aq-template-wrapper .aq_span8,
.aq-template-wrapper .aq_span12{ width:100% !important; padding-left:0 !important; padding-right:0 !important; border:none !important;}

.aq-block-aq_3_column_block .bloglike .imgwrap{ max-width:40%; width:40%; margin:0 20px 20px 0;}

.aq-block-aq_3_column_block .flexslider iframe,
.aq-block-aq_3_column_block .bloglike iframe,
.fblock_big iframe{ max-height:320px !important;}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{height:290px;}

}


@media only screen and (max-width: 690px) {

.scrollTo_top,
.tickerflex h2{ visibility:hidden; display:none}


.contact-form .forms textarea,
.contact-form .forms input.txt{ width:100%; float:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0}

.contact-form .forms label{ margin-bottom:10px}

.contact-form .forms .buttons .submit,
.contact-form .forms input#sendCopy{ margin-left:0;}

#header a img.logo{ display:block; float:none; margin:0 auto 30px auto;}

iframe{width:100%; max-height:350px}

#header{ padding-bottom:20px;}

#navigation{ width:100%;}

#navigation > .nav > li a,
#sec-nav > li a{ text-align:center;}

#header h1{ max-width:84%; width:84%; margin:30px 8%; text-align:center;}

#header h1 img{ width:100%;}

.twocol-one,.threecol-one,.threecol-two,.fourcol-one,.fourcol-two,.fourcol-three,.fivecol-one,.fivecol-two,.fivecol-three,.fivecol-four,.sixcol-one,.sixcol-two,.sixcol-three,.sixcol-four,.sixcol-five{ width:100% !important;}

.maso-inn{ height:auto;}

.maso-inn li{ height:150px; width:50%; position:relative; float:left; top:auto; left:auto;}

.maso-inn li.maso1{ width:100%;height:240px;}

.maso5 img,.maso5 img:hover{width:130% !important; max-width:130% !important; right:-15% !important;}

} 

@media only screen and (max-width: 565px) {
    
.maso{ padding:0 0 0 0;}    

.flexinside,
.maso-inn .flexinside,
.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .flexinside{ left:10%; width:75%;}

.maso-inn .flexinside h4{ font-size:12px; margin:5px 0;}

.maso-inn li,
.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn li{ height:130px;}

.maso-inn li.maso1,
.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn li.maso1{ width:100%;height:240px;}

.maso-inn li img,
.maso-inn li img:hover{width:130% !important; max-width:130% !important; right:-15% !important; padding:0 !important;}

h1.post, h2.post{ font-size:35px !important;}

#core.None #content .postauthor,
#core.None #content .postinfo span{ width:100%; border-right:none;}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{ width:30%;height:310px;}
    
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images,
.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary,
.woocommerce .woocommerce-tabs,
.woocommerce .upsells.products,
.woocommerce .related.products { width:100%; margin:0 0 30px 0;}

.cart-tab{ display:none;}

}

@media only screen and (max-width: 429px) {
    
.commentlist li.comment{ padding: 30px 0 0 0;}

.commentlist .children li{padding: 30px 0 0 30px;}

.commentlist .avatar{ padding:0; left:auto; right:0;}

iframe{max-height:250px}

.imgwrap{ background-image:none !important;}

.comment-form-author, .comment-form-email, .comment-form-url{ width:100%;}

#respond textarea{ width:90%;}

.ratingblock{ width:84%}

.aq-block-aq_3_column_block .bloglike .imgwrap{ max-width:100%; width:100%; margin:0 0 20px 0;}

.aq-block-aq_3_column_block .flexslider iframe,
.aq-block-aq_3_column_block .bloglike iframe,
.fblock_big iframe{ max-height:170px !important;}


.fblock_big,
.fblock_small,
.aq-block-aq_featured_2_3_block .fblock_small,
.bloglike .imgwrap{
    margin-right: 0%;
    width: 100%;
    max-width:100%;
    }

.bloglike .imgwrap{ margin-bottom:15px;}


#navigation_wrap{ margin:0 0 0 0;}


}

@media only screen and (max-width: 370px) {

.mainflex .slides p,    
.maso-inn li p.teaser{ display:none;}

.maso-inn li.maso1, .aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn li.maso1{  height: 210px;}

h1.post, h2.post{ font-size:28px !important;}
.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{ width:47%;}

}