/*  
Theme Name: Mioaffitto blog New
Description: Responsive WordPress theme
Theme URI: http://themnific.com
Author: Dannci & Themnific
Author URI: http://themnific.com
Version: 1.1
Tags: dark, light, white, black, gray, two-columns, right-sidebar, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
License: GNU/GPL Version 2 or later. 
License URI: http://www.gnu.org/licenses/gpl.html 
Copyright: (c) 2014 Dannci.
 
*/


/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/*default*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body{ font:12px normal Arial, Helvetica, sans-serif;}

.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
 
.clearfix{ display: inline-block;}  

html[xmlns] .clearfix { display: block;}  

* html .clearfix{ height: 1%;}  

.clearfix {display: block}  





a{ color:#000;}

ol, ul {
    list-style:none; margin:0;
}

strong{ font-weight:bold;}

a,a:hover{
    text-decoration:none; 
}

a,.nav li a{
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in; 
    transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

small{
    line-height:11pt;
}


/* @vergo classes
********************************************************************************************
********************************************************************************************/

.small{
    font-size:85% !important;
}

.hrline,.hrlineB,.hrlineS{
    width: 100% !important;
    overflow:hidden;
    padding:0;
    height:2px;
    background: url(images/line-h.png) 0 0 repeat-x;
}

.hrlineB{
    margin-bottom:40px !important;
}

.hrlineS{
    height:15px !important;
    margin-bottom:40px !important;
    opacity:.5;
}

.hrline span,.hrlineB span{
    width:30px;
    background:#999;
    height:1px;
    position: absolute;
    top:0;
    left:0;
}

.tranz{-webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease; }

.rad{
    -moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

.boxshadow,.scrollTo_top a,ul.products li.product{
    -moz-box-shadow:  0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:  0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow:  0 0 2px rgba(0, 0, 0, 0.1);
}

.container_shadow{
    -moz-box-shadow:  0 1px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:  0 11px 5px rgba(0, 0, 0, 0.2);
    box-shadow:  0 1px 15px rgba(0, 0, 0, 0.2);}

.shadow-inset{
    -moz-box-shadow:  0px 0px 45px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow:  0px 0px 45px rgba(0, 0, 0, 1) inset;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 1) inset;
}

.breadcrumb{
    margin:5px 0 10px 0;font-size:12px; text-transform:uppercase;
}

.top-fix{ padding-top:60px !important;}

.bottom-fix{
    margin-bottom:10px;
}

.slant{
    font-size:85%;font-weight:normal; font-style:italic;
}

.lower{ 
    text-transform: lowercase !important;
}

.italic{
    font-style:italic !important;
}

.fat{
    font-weight:bold !important;
}

input[type=submit]{
    background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.03));
    background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.03)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.03));
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.03));
    background-image: no-repeat;
}

.gradient{
    background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
    background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1));
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1));
    background-image: no-repeat;
}


/* @titles
********************************************************************************************
********************************************************************************************/

h1{
padding: 20px 0 10px 0;
    letter-spacing:-0.03em !important;
}
    
h2{
    margin:20px 0 8px 0;
    padding:0;
    letter-spacing:-0.04em;
}
    
h2.leading{
    margin:0 0 30px 0;
    padding:5px 0 30px 0;
    border-bottom: 1px solid #cccccc;   
    font-size:40px;
    /*text-align:center;*/
    line-height:1.7;
}

h2.leading span{
    font-size:14px;
    letter-spacing:0;
}

h2.widget{
    margin:15px 0;
    padding:0 0 0 8px;
    line-height:1 !important;
    border-left:8px solid #900;
    overflow:hidden;
}

h2.widget_spec{ position: absolute; margin:0; top:20px; left:0; z-index:1;letter-spacing:-0.02em; padding:0 0; line-height:0.8 !important; text-transform:uppercase;
    border-left:8px solid #900; background-image:none !important; opacity:.95;}

h2.widget_spec a{ color:#fff !important;padding:15px 11px; display:block;}
    
h3{
    margin:10px 0;
    padding:0 0 0 1px;
    letter-spacing:-0.008em;
}

h3 a i{ margin-right:4px;}      
    
h4{
    margin:12px 0;
    padding:0;
}

h4 a i{ margin-right:3px;}  
    
h5,h6{
    margin:5px 0;
    padding:0;
    }   

h4.leading{
    margin:-5px 0 30px 0;
}

.sequence-pagination>li>i,
.sidnav i{ opacity:.5; margin-left:3px; font-size:90%}

/* @header
********************************************************************************************
********************************************************************************************/


#header{

    position: relative;
z-index: 1;
height: 50px;
background-color: #ffffff;
border-bottom: 1px solid #cccccc;
-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    /*width:100%;
    float:left;
    position:relative;
    z-index:2;
    border-bottom:1px solid #ddd;
    margin:0 0 30px 0;*/
}

#header h1{
    /*margin:40px 35px 25px 0;*/
    line-height:1;
    display:block;
}

a.homelink{
    text-shadow:none;
    overflow:hidden;
}

img#logo{
    margin:0;
    overflow:hidden;
    float:left;
    max-width:100%;
}


#topnav{ 
    margin:0 0 -1px 0;
    padding:0;
    float:left;
    position:relative;
    width:100%;
    z-index:999;
    }
    
#topnav p{
}

.headad{ overflow:hidden; float:right; margin:18px auto 5px auto; width:100%; max-width:728px;}

.headad img,
.headad ins{ overflow:hidden; float:none;margin:0 auto; display:block;max-width:100%;}



/* @navigations
********************************************************************************************
********************************************************************************************/

#navigation_wrap{margin:10px 0 30px 0; min-height:50px; position:relative;z-index:99;}

#navigation{
    float:left;
    position:relative;
    z-index:99;
    margin:0 0 0 0;
    width:100%;
    max-width:1280x;
    padding:0 0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

#main-nav{ float:left; margin:0 0 0 0 ;}

.nav {
    position:relative;
    padding: 0;
    list-style: none;
    line-height: 1;
    display:block;
    z-index:99;
}

.nav a {
    position: relative;
    display: block;
    z-index: 1;
    padding: 12px 0;
    text-decoration: none;
}

.nav>li>a{
    display: block;
    padding:20px 18px 19px 18px;
    margin-left:10px;
    text-decoration: none;
    line-height:1;
    border-bottom:none;
    letter-spacing:-0.02em !important;
    /*-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;*/
    -webkit-text-stroke: 0.2px;
}

#main-nav>li>a{ margin-left:0;/*border:1px solid #fff;*/ border-left:none;}

.nav>li>a>i{
    margin-right:5px !important;
}

.nav li a span.walker{ display: none; padding-top:6px; letter-spacing:0 !important; font-size:11px !important; color:#999 !important;}

.nav>li>a>span.walker{ display:block; text-transform: none; opacity:.6}

.nav>li:first-child>a{}

#sec-nav{ padding:0 !important;}

#sec-nav>li{}

#sec-nav>li>a{
    padding:14px 6px !important;
    line-height:1;
    border-bottom:none;
    letter-spacing:0 !important;
    background: none;
    background:none !important;
}

#sec-nav>li:first-child{
    background: none;
}

#sec-nav>li:first-child>a{
    padding-left:0 !important;
}

.nav>li>a:hover,
.nav>li.sfHover>a,
.nav>li.current-menu-item>a{
    /*border-bottom:2px solid #E8D116;
    padding: 15px 12px 8px 15px;*/
}

.nav li {
    display:inline;
    position: relative;
    float:left;
    overflow: hidden;
}

.nav>li {
    margin:0;
}

#navigation>.nav>li {
} 
.nav li ul {
    margin:0 0 0 0;
    padding:0 0 0 0;
    width:200px;
    position: absolute;
    z-index: 999;
}

.nav li ul .sf-sub-indicator {
    background: url(../images/arrow-superfish-right.png) no-repeat;
    top: 54%;
}
.nav li ul li a {
    margin:0 20px;
    padding:15px 0;
    border-bottom:1px solid #eee;
    font-size:12px;
    line-height:1;
    font-weight:normal !important;
    opacity:.9
}

.nav li ul li a i{
    margin-right:8px !important;
}

.nav li ul li:last-child a,
#sec-nav li ul li:last-child a {border-bottom:none;}

.nav>li>ul{
    border:1px solid #ddd;
    border-top:none;
    z-index:999;
    margin:0 0 0 1px;
    }

.nav>li>ul:after {
    border-color: #FFFFFF transparent;
    border-style: solid;
    border-width: 0 6px 6px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    left: 15px;
    width: 0;
}

.nav>li>ul>li,
.nav li ul ul li{width:100%;}

.nav li ul li:first-child a {
    background:none;
} 

.nav li ul li a:hover {
}

.nav li ul li.current_page_item a,
.nav li ul li.current_page_parent a,
.nav li ul li.current-menu-ancestor a,
.nav li ul li.current-cat a,
.nav li ul li.li.current-menu-item a,
.nav li ul li.sfHover a {
}

.current_page_ancestor ul li a{
}

#main-nav>li>a:hover,#main-nav>li.current-menu-ancestor>a,#main-nav>li.current-menu-item>a,#main-nav>li.sfHover>a,#main-nav>li.current_page_item>a,#main-nav>li.current-menu-item>a{ color:#fff !important;}

.nav li ul ul{
    margin: -45px 0 0 200px;
    border:1px solid #ddd;
    -moz-border-radius:0 5px 5px 5px;-khtml-border-radius:0 5px 5px 5px;-webkit-border-radius:0 5px 5px 5px;border-radius:0 5px 5px 5px;
}


.nav li a.sf-with-ul {
    padding-right: 23px;
}

.nav li ul li a.sf-with-ul {
    background: url(images/arrow-superfish-right.png) 100% 15px no-repeat;
    padding-right: 0;
}

.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.li.current-menu-item a,
.nav li.sfHover a {
}


.nav .sf-sub-indicator {
    position: absolute;
    display: block;
    right:12px;
    top:47%;
    width: 5px;
    height: 5px;
    text-indent: -999em;
    overflow: hidden;
}


a:hover .sf-sub-indicator,
.current-menu-item a .sf-sub-indicator{ background:#fff !important;}

#sec-nav li a.sf-with-ul {
    padding-right: 20px !important;
}

#sec-nav .sf-sub-indicator {
    top:46%;
    right:7px;
}

#sec-nav li ul {
    z-index:9999;
    padding-top:5px;
}

.nav li ul {
    position: absolute;
    left: -999em;
}

.nav li:hover, .nav li.hover {
    position: static;
}

.nav li:hover ul ul,
.nav li.sfhover ul ul,
.nav li:hover ul ul ul,
.nav li.sfhover ul ul ul,
.nav li:hover ul ul ul ul,
.nav li.sfhover ul ul ul ul {
    left: -999em;
}

.nav li:hover ul,
.nav li.sfhover ul,
.nav li li:hover ul,
.nav li li.sfhover ul,
.nav li li li:hover ul,
.nav li li li.sfhover ul,
.nav li li li li:hover ul,
.nav li li li li.sfhover ul {
    left: auto;
}

.nav li ul {
}

.nav li ul li a {
}

.nav li ul li a:hover {
}


.hidenav{ display:none !important;}

.shownav{ display: inline-block !important;}



/* @mobile menu 
********************************************************************************************
********************************************************************************************/

a#triggernav{
text-indent:-9999px;
padding:8px;
height:30px;
width:30px;
background-image: url(images/icons/trigg.png);
background-position:50% 50%;
background-repeat:no-repeat;
margin:5px auto 20px auto;
display:none;
float:none;
clear:both;
}

a#triggernav:hover{
background-image: url(images/icons/trigg.png);
}

a#triggernav.active{
background-image: url(images/icons/trigg-up.png);
}


a#triggernav-sec{
text-indent:-9999px;
padding:3px;
height:20px;
width:20px;
background-image: url(images/icons/trigg.png);
background-position:50% 50%;
background-repeat:no-repeat;
margin:8px;
display:none;
float:left;
}

a#triggernav-sec:hover{
background-image: url(images/icons/trigg.png);
}

a#triggernav-sec.active{
background-image: url(images/icons/trigg-up.png);
}

.showtrig{ display: block !important; float:none; overflow:hidden;}


/* @core
********************************************************************************************
********************************************************************************************/

#core{
    position:relative;
    overflow:hidden;
    margin:0 0 0 0;
    width:100%;
    float:left;
}

#content{
    float:left;
    overflow:hidden;
}

#core.Left #content{float:right !important;margin:0 0 0 3% !important;}

#core.None #content{margin:0 0 0 0 !important; width:100% !important;}

#sidebar{
    float:right;
    overflow:hidden;
    padding:0 0 20px 0;
}

.post #sidebar{padding:20px 0;}


/* @homepage widgets 
********************************************************************************************
********************************************************************************************/

.widgetwrap{ position:relative; overflow:hidden; }

.thumbfix{ height:60px; margin-bottom:20px; display:none;}

li:first-child .thumbfix{ display:block;}


a.moreposts,.tab span.moreposts{
    width:100%;
    text-align:center;
    float:none;
    font-size:10px;
    font-weight:bold;
    background:url(images/icons/pointer.png) no-repeat right -2px;
    padding-right:12px;
}


.twinsbox{
    overflow:hidden;
    margin:0 0 25px 0;
    position:relative;
    padding:0 0;
    float:none;
    clear:both;
    width:100.5%;
}

.widgetcol{
    overflow:hidden;
    width:49.8%;
    margin:0 0 0 0;
    padding:0 0;
    position:relative;
    float:left;
    border-right:1px solid #ddd;
}

.widgetcol_three{
    overflow:hidden;
    width:33.3%;
    margin:0 0 -1px 0;
    padding:0 0 1px 0;
    position:relative;
    float:left;
    min-height:100%;
}

.widgetcol_three p.teaser{ font-size:100%;}

.widgetcol_three .widgetcol_big,
.widgetcol_three .widgetcol_small,
.widgetcol_three .widgetcol_small:last-child{
    padding:20px;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin:0 0 -1px -1px;
    }

.widgetcol_three .widgetcol_big{border-top:none;}

.last{
    margin:0 0 0 0;
    padding:0 0 0 0;
    border:none;
}

.first{
    margin:0 0 0 0;
    border:none;
}

.widgetcol_big{
    position:relative;
    margin-bottom:5px;
    overflow:hidden;
    padding:20px 5.6% 5px 5.6%;
    border-top:1px solid #ddd;
}

.widgetcol_one{
    float:left;
    width:52%;
    padding:20px 2.8%;
    margin:0 0 0 0;
    border-right:1px solid #ddd;
    border-top:1px solid #ddd;
}

.widgetcol_big iframe{
    width:100%;
    height:202px;
}

.widgetcol_three iframe{
    width:100%;
    height:164px;
}

.widgetcol_one iframe{
    height:250px;
}

.widgetcol_big .ratingbar{ top:auto; bottom:0;}

.widgetcol_big img{ width:100%;}

.widgetcol_big h2{ min-height:44px; margin:15px 0 10px 0;}

.widgetcol_big .teaser {
    margin:5px 0 10px 0;
    line-height:1.6;
    font-size:110%;
}

.widgetcol_small{
    line-height: 15px;
    padding:20px 5.6%;
    border-top: 1px solid #ddd;
    height:50px;
    position:relative;
    border-bottom:1px solid #ddd;
    margin:0 0 -1px 0;
}

.widgetcol_small_one{
    float:none;
    overflow:hidden;
    width:36.6%;
    height:auto;
    padding:20px 2.8%;
    margin:0 0 -1px 0;
}

.twinsbox .widgetcol_small_one:last-child{ border-bottom:none;}

.widgetcol_small img{
    float:left;
    margin:0 18px 0 0;
    width:65px;
    padding:4px;
    overflow:hidden;
    background:url(images/transparent-light.png);
}

.widgetcol_small h3{
    margin:0 0 4px 0;
    padding:0;
    font-size:13px;
    }
    
.widgetcol_small p{
    margin:0 0 6px 0;
    line-height:18px;
    }
    
.widgetcol_small_one p{
    margin:0 0 0 0;
    line-height:1;
    }   
    
.widgetcol_small p.pnormal{
    font-size: 11px;
    }
    
.widgetcol_small p.meta{
    background:none;
    margin:0 0 -2px 0;
    padding:0 0 0 0;
    }
    
    

/* @post styles
********************************************************************************************
********************************************************************************************/

.singlepost{
    background:#fff;
    padding-top:40px !important;
    padding-bottom:40px !important;
}

img.attachment-format-standard,
img.headimg,
img.singleimg,
img.main-single,
.postslider img{ float:left; margin:0; overflow:hidden;}

img.attachment-format-standard,
img.size-full,
img.headimg,
.postslider .slides img,
iframe {max-width:100%;}

img.attachment-format-standard{ width:100%; margin:0 0 20px 0;}

.blogposts{ position:relative;}

.entry,.fullentry{
    padding:20px 0;
    margin:0;
    overflow:hidden;
    position:relative;
}

.fullentry{
    width:100%;
    overflow:hidden;
    margin:0 0 30px 0;
}

.blogposts .entry{
    padding:20px 0 15px 0;
    margin:0;
    position:relative;
}

.entry_item{
    width:75%; margin-top:65px;
}

.entry p a:hover{
}

.entry p,.fullentry p{
    margin:8px 0 18px 0;
}

.entryfull{
    margin:30px 0 0 0; overflow:hidden
}

.entryfull p{
    margin:0 0 10px 0;
    line-height: 1.6;
}

.entry ul,
.entry ol{margin:5px 0 15px 17px;}

.entry>ul li,
.entry>p>ul li{ list-style: disc;list-style-position:outside; padding-left:5px;}

.entry ol li{ list-style: decimal; list-style-position:inside;padding-left:10px;}

.entry ol li ol li{ list-style: upper-latin;list-style-position:inside;}

.entry blockquote{
    border-left:3px solid #ddd;
    padding:15px 30px !important;
    margin:25px 0 25px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:130%;
    line-height:1.9em;
    letter-spacing:0;
    }
    
.entry blockquote p{ margin:0 0 0 0;}

h2.single{
    padding:0; margin:-5px 0 15px 0;
}

h2.singlefull{
    padding:0; margin:-5px 0 15px 0;
}

.format-video>iframe{
    margin:0 0 0 0;
    padding:0;
    position:relative;
    z-index:0;
    float:left;
    width:100%;
    height:453px
}

.format-audio>iframe{width:100%; clear:both; float:left; margin-bottom:-2px;}


p.meta,.comment-meta{
    line-height:1.4;
    font-weight:normal;
    text-transform:uppercase;
    overflow:hidden;
    padding:0 0 0 0;
    margin:0 0 8px 0;
}

.meta i{
    padding:0 2px 0 1px;
}

.meta a{
    line-height:1.4;
    font-weight:normal;
}

.meta_more a{ display: block; width:90px; text-align:center; padding:7px; margin:20px auto 5px auto; float:none; border:1px solid #666; font-size:11px !important; font-weight:600;}

.meta_more a:hover{ color:#fff !important;}

.tagssingle{
    overflow:hidden; margin-bottom:10px !important; padding-top:12px; padding-bottom:12px;
}

.tagssingle a{
    margin:0 10px 5px 0 !important;
    white-space:nowrap;
    float:left;
}

.archivepost h3,
.catpost h3,
h3#comments-title,
h3#reply-title{
    margin:0 0 0 0; padding-bottom:10px;
    background:url(images/line-h-l.png) bottom repeat-x;
}

.postauthor {
    overflow:hidden; margin:0 0 30px 0; padding:0 0; width:100%;position:relative; text-align:center;
}

.postauthor_alt { margin:0 0 30px 0; border-right: none; text-align:left; border-bottom:1px solid #ddd;padding:0 0 25px 0;}

.postauthor img{
    padding:4px;
    background:url(images/transparent-light.png);
    float:none;
    display:block;
    margin:0 auto 15px auto;
    width: 75px;
}

.postauthor h3{
    margin:0 0 15px 0;
    padding: 0 0;
}

.authordesc{
    margin-top:0;
    padding:0;
    line-height:1.9em !important;
}

.postauthor_alt .authordesc{ }

.postauthor_alt img{
    float:left;
    margin:15px 30px 15px 0;
}


.postinfo{ padding:25px 30px; margin:0 0 -1px 0;clear:both;border:1px solid #ddd; overflow:hidden;}

.postinfo a{ opacity:.8;}

.postinfo span{ width:100%; padding:20px 2px;text-align:center; float:none; display:block; overflow:hidden;border-top:1px solid #ddd;}

.postinfo span:first-child{ border-top:none; }

#core.None #content .postauthor{ width:45%; padding-right:4%;float:left; border-right:1px solid #ddd;}

#core.None #content .postauthor img{ display:none;}

#core.None #content .postinfo span{ width:48%; float:right;}

#core.None #content .postinfo span.bread{ border:none;}

#core.None #content .clearfix{ display:none !important;}


.post .related{
    float:left; width:100%; overflow: hidden; margin:0 0 0 0; padding:20px 0 !important; border-top:1px solid #ddd;
}

.post .related li{
    float:left; width:44%; margin:0 3% 15px 3%;overflow: hidden; position:relative;padding:0 0 0 0; line-height:14px !important; text-align:center; height:170px;
}

#core.None #content .related li{ width:19%; height:auto;}

.post .related li:first-child{ width:100% !important; margin:10px 0 20px 0; height:auto;}

.post .related li img{
    width:100%;
}

.post .related li a{ opacity:1;}

.archivecontent{
    padding:5px 10% 0 6% !important; min-height:340px;
}

.archivepost {
    margin:0 0 20px 0;
    padding:0 !important;
}

.archivepost li,
.catpost{
    padding:20px;
    overflow:hidden;
    position:relative;
    margin:0 0 0 0;
    border-top:1px solid #ddd;
    position:relative;
}



.archivepost li:first-child{
    margin:0 0 0 0;
}


.archivepost li span.ribbon,
.catpost span.ribbon{ top:20px}

.archivepost a img,
.catpost a img{
    float:left; margin:0 25px 0 0;
}


.archivepost h3,
.catpost h3{
    margin:0 0 10px 0; padding-bottom:0;
    background:none;
    border:none;
}

.archivepost .meta{
}

.archivepost p.teaser,
.catpost p.teaser{
    margin-top:5px;
}

/* @formats 
********************************************************************************************
********************************************************************************************/


ul.medpost{
    padding:1px 0;
}

ul.medpost li.format-quote{
    text-shadow:none; margin: 0 0 35px 0; padding:0 0 30px 0;text-align:center;font-size:16pt; line-height:1.5;
    border:1px solid #ddd;
}

p.quuote_author{ font-size:10pt}

ul.medpost li.format-quote blockquote {
    display: block;
    padding: 50px 40px 10px 40px;
}

ul.medpost li.format-quote blockquote p {
    padding:60px 0 50px 0; font-weight:bold;
}

ul.medpost li.format-quote blockquote:before, 
ul.medpost li.format-quote blockquote:after {
    display: block;
    font-size: 400%;
    width: 30px;
}


ul.medpost li.format-quote blockquote:before {
    content: '\201C';
    height: 0;
    margin-left: -0.25em;
    margin-top: -50px;
}


ul.medpost li.format-quote blockquote:after {
    content: '\201D';
    height: 50px;
    margin-top: -70px;
    margin-left: 280px;
}


.imgwrap{
    background-image:url(images/icons/zoom.png);
    background-repeat:no-repeat;
    background-position: 50% 50%;
    position:relative !important;
    overflow:hidden;
    float:left;
    margin:0 0 20px 0;
    max-width:100%;
}

.imgwrap img,
.imgwrap iframe{ float:left;overflow:hidden; max-width:100%;}


/* @comments 
********************************************************************************************
********************************************************************************************/

#comments {
    clear: both;
    margin-top:0;
    padding:20px 0 !important;
}

#comments .navigation {
    padding:20px 0;
    clear: both;
    overflow:hidden;
}

h3#comments-title{
    margin:0 0 10px 0;
}

h3#reply-title {
    padding:0 0 15px 0;
    margin:0 0 15px 0;
    border-bottom:1px solid #eee;
}

.commentlist {
    list-style: none;
    margin:0 0 0 0;
}

ol.commentlist {
    margin-top:-20px;
}

.commentlist li.comment {
    background: url(images/line-h-l.png) top repeat-x;
    line-height: 24px;
    margin: 0 0 15px 0;
    padding: 30px 0 0 80px;
    position: relative;
}

.commentlist li:first-child {
    background: none;
}

#comments .comment-body ul,
#comments .comment-body ol {
    margin-bottom: 18px;
}

#comments .comment-body p:last-child {
    margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}

.commentlist ol {
    list-style: decimal;
}

.commentlist .avatar {
    position: absolute;
    padding:1px;
    background:url(images/transparent.png);
    top: 30px;
    left: 0;
}

.comment-author {
}
/*
.comment-author cite {
    font-weight: bold;
    font-style:normal;
    font-size:16px;
    color:#000;
}
*/
.comment-author .says {
    display:none;
}

.comment-meta {
    margin: 0 0 20px 0;
}

.comment-meta a:link,
.comment-meta a:visited {
    color: #888;
    text-decoration: none;
}

.comment-meta a:active,
.comment-meta a:hover {
    color: #ff4b33;
}

.commentlist .even {
}

.commentlist .bypostauthor {
}

.reply {
    padding: 0 0 10px 0;
    overflow:hidden;
}

.reply a,
a.comment-edit-link {
    font-size: 10px !important;
    font-weight: normal;
    line-height: 0;
    margin:15px 0 !important;
    float:left;
}

a.comment-edit-link {
    float:right;
}

.reply a:hover,
a.comment-edit-link:hover {
    color: #ff4b33;
}

.commentlist .children {
    list-style: none;
    margin: 0;
}
.commentlist .children li {
    list-style: none;
    border: none;
    margin: 0;
}

.nopassword,
.nocomments {
    display: none;
}

#comments .pingback {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
    margin-top: -6px;
}

#comments .pingback p {
    color: #888;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

#comments .pingback .url {
    font-size: 13px;
    font-style: italic;
}

#sidebar p input[type=submit] {
    cursor:pointer;
    border:none;
    color:#fff !important;
    font-weight:bold;
}

#respond {
    margin:0;
    overflow: hidden;
    position: relative;
}

#respond p {
    margin: 0;
    clear:right;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
    width:30%; float:left; margin-right:4.3% !important;
}

.comment-form-url{
    margin-right:0 !important;
}

input#author,
input#email,
input#url{
    width:89% !important; margin-bottom:20px !important;
}

#respond .comment-notes{
    margin-bottom:30px;
    opacity:.7;
    font-size:90%;
}

.form-allowed-tags{
display: none;
}

.children #respond{
    margin: 0 48px 0 0;
}

#comments-list #respond{
    margin:0;
}

#comments-list ul #respond {
    margin: 0;
}

#cancel-comment-reply-link {
    font-size: 10px !important;
    font-weight: normal;
    line-height: 1;
    margin-left:10px;
}

#respond .required {
    color: #ff4b33;
    font-weight: bold;
    margin-left:3px;
}

#respond label {
    color: #888;
    font-size: 12px;
}

#respond input {
    margin:0;
    width: 95%;
}

#respond textarea {
    width: 95%;
    padding:7px 2% !important;
}

#respond .form-allowed-tags {
    display: none;
}

#respond .form-allowed-tags code {
    display: none;
}

#respond .form-submit {
    margin: 12px 0;
}

#respond .form-submit input {
    font-size: 14px;
    width: auto;
    margin:20px 1px 20px 1px;
}



/* @forms 
********************************************************************************************
********************************************************************************************/

input, textarea,input checkbox,input radio,select, file{
    border:1px solid #ddd;
    padding:7px 5%;
    margin:0 10px 0 0;
    float:left;
    font-size:12px !important;
}

.entry p input{ overflow:hidden; clear:both; float:none; display:block; margin-top:4px;}


.entry p input[type=checkbox],
.entry p input[type=radio]{float:left;}

select{ float:none; margin:0 0 20px 0;}

form#contactform fieldset input{
    float:none;
    width:320px;
    margin-top:30px;
}
    
form#contactform fieldset textarea{
    margin-top:30px;
    width:430px;
    border: 1px solid #eee;
    background:#fff;
}
    
form#contactform fieldset input#submit{
    width:150px; cursor:pointer;
}

#contact{
    padding:0 0 30px 0;
}

submit{ cursor:pointer; background:none !important;}

/* @search 
********************************************************************************************
********************************************************************************************/
 
.searchform{
    position: relative;
    float:right;
    overflow:hidden;
    margin:0 0 0 0;
    border-left:1px solid #fff;
}
 
.searchSubmit{
    position: absolute;
    height: 12px;
    width: 12px;
    border: none;
    cursor: pointer;
    margin:0;
    overflow:hidden;
    top: 9px;
    right:3px;
    background:none;
}
    
.searchform input.s{
    padding: 20px 0 19px 15px !important;
    margin:0 0 0 0;
    width:125px;
    float:right;
    background-color:transparent;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.searchform input.s:focus {
    width:165px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1), 0 0 0 6px #e0e0e0;
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.1), 0 0 0 6px #e0e0e0;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.1), 0 0 0 6px #e0e0e0;
}
 
.searchform .searchSubmit{
    height: 20px;
    width:20px;
    top: 16px;
    right:10px;
}

.widgetable .searchform input.s,
.widgetable .searchform input.s:focus,
.aq-block-aq_widgets_block .searchform input.s,
.aq-block-aq_widgets_block .searchform input.s:focus{width:95%; float:left;}

/* @sidebar 
********************************************************************************************
********************************************************************************************/

.widgetable{
    margin:0;
    padding: 25px 9.0%;
    border:1px solid #ddd;
    overflow:hidden;
    float:left;
    width:100%;
}
    
.widgetable .searchform{
    margin:0 0 0 0;
    float:none;
    clear:both;
    width:100%;
}
    
.widgetable>ul{
    margin:0 0 25px 0;
}
    
/*.widgetable li.cat-item{ float:left; width:49%; margin-right:0.5%}*/

.textwidget{ margin:0 0 45px 0;}

#sidebar .textwidget p{ padding:20px 0;}

#calendar_wrap{ margin:0 0 20px 0;}


/* @custom widgets 
********************************************************************************************
********************************************************************************************/

.twinsbox iframe{ margin-bottom:0px !important;}
 
ul.lists{list-style:none; overflow:hidden; margin:0; width:106%;}

#footer ul.lists{
    margin-top:0;
}

ul.lists li ul, ul.lists li ul li{
    margin:0 0 0 0 !important;padding:0 0 0 0 !important; width:100%; background:none;
}

.lists a{
}

.lists a:hover{
}

.lists li{ 
    background:url(images/bull.png) 0 4px no-repeat;
    padding:0 10px 0 26px; 
    margin:0 3% 0 0; 
    float:left;
    width:31%;
    list-style:none;
    } 


.ad300{
    margin:0 0 0 0;
    overflow:hidden;
    width:100%;
}


.ad125{
    margin:0 0 0 0;
    overflow:hidden;
    width:105%;
}

.ad300 img,
.ad300 ins{
    margin:0 auto 20px auto !important;
    float:left !important;
    display:block !important;
    max-width:100%;
}

ul.ad125 li{
    float:left; margin:0 15px 15px 0; padding:0; overflow:hidden; background:none !important; border-bottom:none;
}

ul.ad125 li img{
    float:left; margin:0 !important; padding:0; overflow:hidden;
}


img.adFree{
    padding:0; margin:0 0 20px 0;
}

.ad125_fix {
    clear: both;
    margin: 0;
    height: 12px;
    overflow: hidden;
    float: left;
}

 
/* twitter  */
.lasttwit {
    padding:0;
    position: relative;
    margin: 0 0 20px 0;
}
 
a.twilink {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-weight: bold;
}
    

ul.tweet_list {
    margin:0 0 10px 0 !important;
}
 
ul.tweet_list li {
    margin: 0 0 0 0;
    padding: 15px !important;
}

ul.tweet_list li:first-child {
    border-top:none;
    padding: 8px 0 12px 0 !important;
}

.tweet_even{ background:url(images/transparent-light.png)}
    
ul.tweet_list li img {
    margin:0 auto 10px auto;
    float:none;
    clear:both;
    display:block;
    /*display:none;*/
    padding: 0 !important;
}


ul.tweet_list li:first-child img{
    display:block;
}


.view-twitter {
    display:none;
}

.tweet_avatar {
}
 
 
/* flickr */
h2.widget span,#footer h3 span { opacity:.8;font-style:normal;}
 
h2.widget span span,#footer h3 span span,#archives h2 span span {
    color: #FA3D03;
}
 
.flickwrap {
    position: relative;
    padding:0 0;
    overflow: hidden;
    width: 104%;
    margin:0 0 20px 0;
    float:left;
}
 
 .flickwrap img {
    float: left;
    width:69px;
    margin:0 !important;
    padding: 0 !important;
}
 
 .flickr_badge_image{
    float: left;
    margin: 0 8px 8px 0!important;
    padding: 0 !important;
}
 
.flickwrap a:hover img {
    background:#ccc;
}

#footer .flickwrap{
    margin:-10px 0 25px 0; border-bottom:none; width:110%; padding:0 0 0 0;
}

#footer .flickwrap img{
    width:70px;
}

#footer .flickr_badge_image{
    margin: 16px 14px 0px 0!important;
}

/* Blog Author Widget */
img.avatar {
}
 
span.left {
    float: left;
    margin: 5px 20px 5px 0;
}
 
span.right {
    float: right;
    margin: 5px 0 5px 20px;
}
 
/* featured */
ul.featured {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    overflow: hidden;
    float: left;
    width:101%;
    border-bottom:1px solid #ddd;
}
 
.fblock {
    border-top:1px solid #ddd;
    padding:25px 0;
    margin: 0 0 0 0;
    overflow:hidden;
    position:relative;
}
    
.fblock:first-child{
    border-top:none;
    padding-top:0;
}
 
.fblock img,
.fblock iframe {
    margin:0 0 0 0;
    padding:0;
    overflow:hidden;
    float:left;
    max-width:100%;
}

.fblock iframe{float:none;max-height:170px; margin:0 0 10px 0;}

.fblock h3{
    margin:5px 0 15px 0;
    text-align:left !important;
}

.fblock_big{ float:left; width:55%;}

.fblock_big iframe{float:none;max-height:206px;}

li.fblock_big:nth-child(2){ clear:left;}

.fblock_small{width:45%; float:left; margin-right:5%;}
div.fblock_small{width:100%;}

.aq-block-aq_featured_2_3_block .fblock_small{ float:right; width:40%; margin-left:5%;margin-right:0;}

.aq-block-aq_featured_2_3_small_block .fblock_small{height:90px !important;}

.aq-block-aq_featured_2_3_small_block{ width:105% !important;}

.aq-block-aq_2_3_column_block .aq-block-aq_featured_2_3_small_block li:first-child,
.aq_row .aq-block-aq_featured_2_3_small_block li:first-child{
    border-top:1px solid #ddd;
    padding:25px 0;
    }

.aq-block-aq_featured_2_3_block li.fblock_small:nth-child(2){
    border-top:none;
    padding-top:0 !important;}

.fblock_small img{ margin:0 20px 0 0;}

.fblock_small h4{ margin:0 0 5px 0;}

.bloglike{
    overflow:hidden;
    margin: 0 0 35px 0;
    }

.bloglike .imgwrap{ float:left; max-width:45%; margin:0 30px 0 0;}

.format-image.bloglike .imgwrap{ max-width:100%; margin:0 0 0 0;}

.bloglike img,
.bloglike .meta_more a{ float:left;}

.bloglike iframe{ width:100%; max-height:375px}



/* masonry */

.maso{padding:0 0 2px 2px;}

.maso-inn{ position:relative; overflow:hidden; height:600px;}

.maso-inn li{ position:absolute; overflow:hidden;background:#fff;}

.maso-inn li img{ position:absolute; top:0; right:0; width:100%; padding:2px; opacity:.6}

/*.maso-inn li span.bg{ opacity:.8;}*/

.maso-inn li .imgwrap{width:100%; height:100%;top:0;left:0;background-color: #000000 !important;}

.maso-inn li p.meta{ margin:0 0; padding-bottom:10px; color:#fff; border-bottom:1px solid #fff;}

.maso-inn li p.meta a{color:#fff;}

.maso-inn li p.teaser{color:#fff;}

.maso1{width:68%; height:65%;top:0;left:0;}

.maso2{width:32%; height:45%;top:0;left:68%;}

.maso3{width:32%; height:55%;top:45%;left:68%;}

.maso4{width:30%; height:35%;top:65%;left:0;}

.maso5{width:38%; height:35%;top:65%;left:30%;}


/*.aq-block-aq_masonry_block{ width:96.9% !important;}*/

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block{ width:100% !important;}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .maso-inn{ height:400px;}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block p.teaser{ font-size:11px; margin-bottom:15px;}

.maso-inn .flexinside{bottom: 30px;}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .flexinside{ 
    bottom: 20px;
    left: 15%;
    padding: 0 5%;
    width: 60%;
}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block h3{ font-size:20px !important;}

.aq-block-aq_2_3_column_block .aq-block-aq_masonry_block .meta{ display:none;}


/* comments widget */
.com_post{
    overflow:hidden;
    padding:15px 0 !important;
    background:url(images/line-h-l.png) top repeat-x;
    margin:0 !important;
}

.com_post:first-child{
    background:none;padding:0 0 15px 0 !important;
}

.com_post img{
    float:left; margin:3px 15px 5px 0;
    padding:4px;
    background:url(images/transparent-light.png);
}

.com_post span{
    float:left; margin-right:4px; font-weight:bold; text-transform:uppercase;
}

.com_post p{
    padding:0 0 0 65px !important;
    margin:0 !important;
}




/* folio widget */
ul.widget-folio{
    width:112% !important; overflow:hidden; margin-bottom:15px;
}

ul.widget-folio li{
    overflow:hidden; float:left; margin:0 20px 20px 0; padding:0;
    background: url(images/icons/search-submit.png) 50% 45% no-repeat;
}
    
ul.widget-folio li img{
    width:auto; float:left;
}




/* @tabs
********************************************************************************************
********************************************************************************************/

#hometab {
    float: left;
    margin:0 0 20px 0;
    padding:0 0;
    overflow: hidden;
    position: relative;
    border:1px solid #ddd;
}
 
ul#serinfo-nav {
    position:relative;
    z-index: 1;
    margin:18px 0 15px 0 !important;
    padding:0 15px !important;
    overflow:hidden;
}
 
ul#serinfo-nav>li {
    float: left;
    padding:0 0 0 0;
    margin-right: 0;
    text-shadow: none;
    cursor: pointer;
    opacity:.3;
    line-height:1 !important;
    width:33.3%;
}

ul#serinfo-nav li a {
    padding:0 0 0 10px;
    display:inline-block;
    line-height:1 !important;
}

ul#serinfo-nav li:hover {
    opacity:.5;
}
 
#serinfo-nav li.current {
    position:relative;
    z-index: 6;
    border-top:none;
    overflow:hidden;
    opacity:1;
}

#serinfo-nav li.current a { padding-left:8px;border-left:8px solid #ddd;}
 
li#serpane0,
li#serpane1,
li#serpane2,
li#serpane4,
li#serpane5{
    margin: 0 0 -2px 0;
    padding:0;
}

li#serpane3{
    padding: 15px;
}
 
ul#serinfo {
    position: relative;
    float: left;
    width:100%;
    padding:0 0 0 0 !important;
    margin: -1px 0 0 0 !important;
    overflow: hidden;
    border-top:1px solid #ddd;
    border-bottom:none !important;
}

#serinfo .fblock_small,#serinfo .fblock_small:first-child{ padding:18px 5% !important; width:90%;}
 
#serinfo img {
    padding:3px;
    margin: 3px 12px 5px 0 !important;
    float: left;
    max-width:62px;
    background:url(images/transparent-light.png);
}

#serinfo h4 {
    font-size:13px;
    margin:0 0 5px 0;
}
    
#serinfo .meta{
    line-height:1 !important;
    background:none;
    margin:8px 0 3px 0;
}   



/* @footer
********************************************************************************************
********************************************************************************************/

#footer {
    margin: 0;
    padding:30px 0;
    overflow:hidden;
    position:relative;
    text-shadow:none;
    z-index:10;
}

#footer .first{margin-left:0 !important;}

#footer .container{
    padding-top:30px;
    padding-bottom:10px;
}

#footer .fourcol{
    width:31%;
    margin-left:3.5%;
}
 
#footer h2{
    line-height:1;
    margin:0 0 12px 0;
    padding:0 0 8px 12px;
    overflow:hidden;
    background:url(images/line-h-l.png) bottom repeat-x;
}

#footer .twinsbox{ border-bottom:none;}
    
#footer ul{
    margin: 0 0 30px 0; overflow:hidden; border-bottom:none !important;
}

#footer p{
    margin:3px 0 15px 0;
}
    
.threecol>ul>li{
    margin:0 0 8px 14px;
    padding:0 0 0 0;
    list-style:square;
    list-style-position:outside;
}

#footer select{
    overflow:hidden;
    clear:both;
    float:none;
    margin: 0 0 20px 0;
}

#footer #wp-calendar tbody td{
    padding:2px;
}

#copyright {
    width: 100%;
    max-width: 1140px;
    margin:0 auto 25px auto;
    font-size: 10px;
    overflow:hidden;
    padding-top:12px;
    opacity:.7;
    background:url(images/line-h-l.png) top repeat-x ;
}
 
#copyright p {
    margin: 0;
    padding: 0 0;
}

.post-date{ padding-left:5px; font-style:italic;}
    
/* @images
********************************************************************************************
********************************************************************************************/

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

img.alignright {
    margin: 4px 1px 10px 20px !important;
    display: inline;
    float: right;
}

img.alignleft {
    margin: 4px 20px 10px 1px !important;
    display: inline;
    float: left;
}

.alignright {
    float: right;
    margin: 4px 1px 10px 18px !important;
}

.alignleft {
    float: left;
    margin: 4px 18px 10px 1px !important;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}
    
.wp-caption {
   text-align: center;
   max-width:98% !important;
   padding:5px 5px 10px 5px !important;
}

.wp-caption img {
   margin: 0 0 0 0 !important;
   border: 0 none;
   max-width:100% !important;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   padding: 0 5px 0 5px;
   margin:5px 0 0 0;
}

img.wp-smiley {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.wp-caption{
    background:#eee;
    -moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px;
}
    
    
    
/* @social
********************************************************************************************
********************************************************************************************/

ul.social-menu {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin:0 0 0 0 !important;
    float:left;
}
    
#header ul.social-menu {
    float:right;
    overflow: visible;
}
 
ul.social-menu li {
    display: inline;
    list-style-type: none;
    position: relative;
    line-height:1;
    float: left;
    margin: 0 0 0 0 !important;
    border-left:1px solid #fff;
    padding:0;
    text-align:center;
    width:46px;
    background-image:url(images/transparent-light.png);
    -moz-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in; 
    -o-transition: opacity 0.3s ease-in;

}

ul.social-menu li a{
    text-align:center;
    display:block;
    padding:19px 0;
    line-height:1.2 !important;
}
    
ul.social-menu li:hover {
    opacity:1;
    -moz-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in; 
    -o-transition: opacity 0.3s ease-in;
}


ul.social-menu li a:hover{ color:#fff !important; background-image:none;}

ul.social-menu li.sprite-rss a:hover{ background-color:#FE9900 !important;}
ul.social-menu li.sprite-google a:hover{ background-color:#DB4A37 !important;}
ul.social-menu li.sprite-delicious a:hover{ background-color:#3274D2 !important;}
ul.social-menu li.sprite-yahoo a:hover{ background-color:#65106E !important;}
ul.social-menu li.sprite-stumbleupon a:hover{ background-color:#EC4823 !important;}
ul.social-menu li.sprite-skype a:hover{ background-color:#00A8E9 !important;}
ul.social-menu li.sprite-behance a:hover{ background-color:#2D9AD2 !important;}
ul.social-menu li.sprite-myspace a:hover{ background-color:#003399 !important;}
ul.social-menu li.sprite-lastfm a:hover{ background-color:#B70736 !important;}
ul.social-menu li.sprite-linkedin a:hover{ background-color:#0274B3 !important;}
ul.social-menu li.sprite-flickr a:hover{ background-color:#F3006F !important;}
ul.social-menu li.sprite-deviantart a:hover{ background-color:#455548 !important;}
ul.social-menu li.sprite-tumblr a:hover{ background-color:#35506B !important;}
ul.social-menu li.sprite-vimeo a:hover{ background-color:#1BB6EC !important;}
ul.social-menu li.sprite-youtube a:hover{ background-color:#EC2828 !important;}
ul.social-menu li.sprite-twitter a:hover{ background-color:#00ABF0 !important;}
ul.social-menu li.sprite-facebook a:hover{ background-color:#47639E !important;}
ul.social-menu li.sprite-pinterest a:hover{ background-color:#CA222F !important;}
ul.social-menu li.sprite-instagram a:hover{ background-color:#734332 !important;}
ul.social-menu li.sprite-dribbble a:hover{ background-color:#DF3E7B !important;}
ul.social-menu li.sprite-github a:hover{ background-color:#000 !important;}
ul.social-menu li.sprite-foursquare a:hover{ background-color:#8CC540 !important;}
ul.social-menu li.sprite-soundcloud a:hover{ background-color:#FE5419 !important;}
ul.social-menu li.sprite-spotify a:hover{ background-color:#7CC110 !important;}
ul.social-menu li.sprite-ebay a:hover{ background-color:#FFCB01 !important;}


#header ul.social-menu li{ background-image:none; margin-bottom:0 !important;}

ul.social-menu li.socialtrigger{ display:none; position:relative;}

ul.social-menu li a.active{ color:#fff;}

.social-menu-more{
    display:none;
    left: 0;
    margin: 0 0 0 -1px;
    position: absolute;
    width:189px;
    z-index:9999;
    }
    
#header ul.social-menu .social-menu-more li{
    margin-bottom:1px !important;
    }
    
.widgetable ul.social-menu li{ width:45px;}

/* @flex slider
********************************************************************************************
********************************************************************************************/

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
ul.slides,
.flex-control-nav,
ul.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
/*.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;}*/
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/

.flexslider { margin: 0 0 0 0; zoom: 1; position:relative; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px;  min-height: 290px;}
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width:40px; height:40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 1; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; text-indent:-9999px; }
.flex-direction-nav .flex-prev { left: 0;background:url(images/icons/bg-prev.png) no-repeat 15px 16px;}
.flex-direction-nav .flex-next { right: 0;background:url(images/icons/bg-next.png) no-repeat 15px 16px;}
.flexslider:hover .flex-prev { opacity: 1; left: 25px; }
.flexslider:hover .flex-next { opacity: 1; right: 25px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: .8; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  {font-size: 40px; display: inline-block;}
.flex-direction-nav a.flex-next:before{}


/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  {display: inline-block;}
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before {}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; top:5%; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }


/* Mainslider */
.mainflex ul li iframe { width:100%;}
.mainflex{ padding:0; margin:0 0 30px 0;z-index:0; position:relative;}
.mainflex .slides img,
.mainflex .slides iframe,
.mainflex .slides .imgwrap,
.maso-inn li .imgwrap{ width:100% !important; margin:0 0 0 0; background-image:none;background-color: #000000 !important;}
.mainflex .slides iframe{ max-height:376px; float:left;} 
.mainflex:hover img,
.maso-inn li:hover img{opacity:.4;}
.flexinside{ position:absolute; bottom:50px; left:20%; width:55%; padding:20px 2.5%; text-align:center;}
.flexinside  a:hover { color:#fff !important;}
.mainflex:hover .flexinside{ bottom:70px;}
.mainflex .videoinside{ width:95%; padding:15px 2.5% 10px 2.5%; text-align:center; background:#000; float:left;}
.flexinside span.bg{ position:absolute; top:0; left:0; width:100%;height:100%; opacity:.3}
.mainflex:hover span.bg,
.maso-inn li:hover span.bg{opacity:.99;}
.mainflex .slides h2,
.maso-inn li h3,
.maso-inn li h4{ margin:12px 0; position:relative; z-index:1; }
.mainflex .videoinside h2{ font-size:20px; margin:0 0 12px 0;}
.mainflex .slides p,
.maso-inn li p{ position:relative; z-index:1;}
.mainflex .slides p.meta{ margin:0 30%; padding-bottom:10px;}


/* Carousel */
.flexcarousel{margin:0 0 0 0; height:0; padding:0; overflow:hidden;}
.flexcarousel ul.slides li{ position:relative; margin:0 29px 2px 1px !important; height:270px;}
.aq-block-aq_2_3_column_block .aq-block-aq_flexcarousel_block{ width:100%;}
.aq-block-aq_2_3_column_block .flexcarousel ul.slides li{width:203px !important;height:288px;}
.flexcarousel ul.slides li img{ margin-bottom:10px;}
.flexcarousel ul.slides li:hover img{ opacity:.7;}
.flexcarousel li img{ position:relative;}
.flexcarousel li h4{ width:86%; padding:0 8%; overflow:hidden; max-height:67px;}
.flexcarousel li p{ width:86%; padding:0 8%;}
.flexcarousel .flex-direction-nav li a{top: 50%;}
.flexcarousel:hover .flex-prev { opacity: 1; left: 27px; }
.flexcarousel .flex-control-nav { display:none;}


/* Singleslider */
.singleslider{ margin:15px 0 0 0; overflow:hidden; width:100%;z-index:0; position:relative;}
.entry .singleslider ul.slides li{ max-width:100%; overflow:hidden; padding:0 0 !important; list-style:none inside none !important; z-index:0; } 
.entry .singleslider ul.slides li img{ position:relative; z-index:0; }
.singleslider .flex-direction-nav a  {top: 47%;}
.singleslider .flex-control-nav{ display:none; padding-bottom:70px;}
.singleslider .flex-caption{ position: absolute; left:0; bottom:25px; padding:10px 25px; color:#fff;background:url(images/transparent-dark.png);}

ul.tmnf_slideshow_thumbnails { margin:0 0 10px 0; padding:15px 0 10px 2%; width: 98%; position:relative;z-index:1; overflow:hidden;background:url(images/transparent-light.png);}
ul.tmnf_slideshow_thumbnails li { display:inline;margin:0; padding: 0;}
ul.tmnf_slideshow_thumbnails li a { padding: 0; margin: 0 12px 12px 0;float:left; display: block; width:50px; height:50px; border:none; }
ul.tmnf_slideshow_thumbnails li img, ul.tmnf_slideshow_thumbnails li img.thumbnail, ul.tmnf_slideshow_thumbnails li img.attachment-thumbnail { margin: 0; width:50px; height:50px; }
ul.tmnf_slideshow_thumbnails li a img { padding:3px; opacity:0.3; border:none;background:#222;}
ul.tmnf_slideshow_thumbnails li a.flex-active img,ul.tmnf_slideshow_thumbnails li a:hover img {opacity:1.0; }



/* @ribbon
********************************************************************************************
********************************************************************************************/

span.ribbon
{
    background:#900;
    z-index:8;
    position:absolute;
    top:-100px;
    left:-100px;
    width:139px;
    height:139px;
    overflow:hidden;
    transform:rotate(-46deg);
    -ms-transform:rotate(-46deg); 
    -moz-transform:rotate(-45deg); 
    -webkit-transform:rotate(-46deg); 
    -o-transform:rotate(-46deg); 
}

span.ribbon_icon
{
    color:#fff;
    position:absolute;
    text-transform:uppercase;
    font-size:12px;
    line-height:1;
    top:5px;
    left:4px;
    width:17px;
    height:15px;
    overflow:hidden;
    z-index:9;
}

.ribbon_icon i.icon-play-circle{ padding-left:0 !important;}


/* @tooltips
********************************************************************************************
********************************************************************************************/   

div.tooltip {
    display:none;
    position:absolute;
    text-align:center;
    line-height:normal;
    z-index:100000;
    opacity:1;
    filter:alpha(opacity = 95);
    background:#222;
    color:#eee;
    -moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

div.tooltip p {
    padding:5px 8px;
    font-size:10px !important;
    line-height:1.3 !important;
    border-radius:2px;  
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-shadow:none;
    max-width:150px;
    text-transform:capitalize;
}

/* @other
********************************************************************************************
********************************************************************************************/

.tagcloud{ width:104%; margin:0 0 25px 0; overflow:hidden;}

.tagcloud a{ float:left; font-size:10px !important; padding:0px 5px; border:1px solid rgba(0, 0, 0, 0.1); margin:0 8px 8px 0;}


/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; margin:0 0 40px 0;}
#wp-calendar caption { text-align: left; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

.sticky{}

#archives{ padding:20px 0 0 0;}

h2.archives-small{
    font-size:16pt;
    line-height:22pt;
    /*background:url(images/divider15.png) bottom repeat-x;
    text-align:center;
    padding-bottom:12px;
    margin-bottom:10px;*/}


::selection {
    background:#52C8EC; 
    color:#fff;
}
::-moz-selection {
    background:#52C8EC;
    color:#fff;
}

.scrollTo_top {
    position:fixed;
    bottom:10px;
    right:10px;
    opacity:1;
    z-index:99999999;
}



.scrollTo_top i{
    font-size:16px; padding:10px 12px;
    float:left;
    color:#fff;
    line-height:1 !important;
}

.scrollTo_top img{
    float:left;
}

.scrollTo_top a{
    float:left;
}

/* @themebuttons & pagination
********************************************************************************************
********************************************************************************************/

a.more-link {
    display: none;
    visiblity:hidden;
}

a.read-more {
    display: block;
    visibility:visible;
}

a.mainbutton,#submit,#comments .navigation a,.tagssingle a,.contact-form .submit,a.comment-reply-link,#comment-submit{
    margin:1px;
    line-height:1;
    padding:7px 10px;
    color:#fff !important;;
    background: #444;
    border:none !important;
    font-size:12px;
     cursor:pointer;
}

a.morebutton{display:block; font-size:16px;padding:23px 17px; float:right; margin:-00px auto 30px auto; width:250px; text-align:center; text-transform:uppercase;}

input#submit, a.mainbutton:hover,a.itembutton:hover,a.itembutton2:hover,#submit:hover,#comments .navigation a:hover,.tagssingle a:hover,.contact-form .submit:hover,a.comment-reply-link:hover{
    color:#fff !important;
    background-color: #ff9400 !important;
    border-color: #a86200;
    border: 1px solid rgba(0,0,0,0.2);
text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.2) inset;
box-shadow: 0 -1px 0 rgba(0,0,0,0.2) inset;
font-weight: bold;
text-align: center;
vertical-align: middle;
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 3px;
}   

.slides li a.mainbutton{ margin-top:-5px;
}

.pagination{
    height:29px; margin:0 0 0 0; float:none; overflow:hidden; padding:3px 0 25px 0; position:relative; z-index:99;
}

a.page-numbers,
.page-numbers.current{
    overflow:hidden;
    font-size: 9pt; 
    background:url(images/transparent-light.png); 
    padding:5px 10px;
    line-height:1;
    margin:1px 8px 0 0;
    -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;
}

.page-numbers.current {
    font-weight:bold;
    color:#fff !important;
}

.dots {
    letter-spacing: 1px;margin:0 15px 0 0;
}

.wp-pagenavi a,
.wp-pagenavi span{
    border:none !important; padding:3px 10px 3px 0 !important; margin:0 10px 0 0 !important;
} 

.wp-pagenavi span.pages{
    display:none;
}

.postnav{
    margin:10px 0;
}


/* @wp gallery 
********************************************************************************************
********************************************************************************************/

.attachment  .headimg{
    display:none; visibility:hidden;
}

#content .wp-smiley,
#rightsidebar .wp-smiley,
#footer .wp-smiley {
    margin:0;
    width: auto !important;
}
#content .gallery {
    margin:0 auto 30px auto;
    width:100%;
}

#content .gallery .gallery-item {
    float: left;
    margin:0 1px 1px 0;
    text-align: center;
    width:24.8%;
    height:auto;
    overflow:hidden;
    background-image:url(images/icons/zoom.png);
    background-position: 50% 50%;
    background-repeat:no-repeat;
}

#content .gallery img {
    border:0;
    float:left;
    width:100%;
}

#content .gallery .gallery-caption {
    margin-left: 0;
}

#content .gallery dl {
    margin: 0;
}

#content .gallery-caption {
    color: #888;
    font-size: 12px;
    margin:-24px 0 24px 0;
}

#content .gallery br+br {
    display: none;
}

    
    
    
/* ratings  
********************************************************************************************
********************************************************************************************/
        
i.icon-star-half{ margin-right:.3em}    
i.icon-star-empty{ opacity:.8}

.rating_star{ cursor: default;} 

.inpost span.rating_star{
    line-height:1 !important;
}

.meta span.rating_star{
    line-height:1 !important;
    font-size:9px !important;
    margin-left:3px;
}

.meta span.rating_star i{
    padding:0 0 0 0px;
}

.ratingblock{ width:30%; float:left; margin:8px 20px 10px 1px; padding:20px; text-transform:uppercase;}

.ratingblock p{ margin:5px 0 15px 0; font-size:11px !important; font-weight:600 !important;}
.ratingblock h2{ text-transform:none; font-size:20px;margin:0; padding:15px;background:url(images/transparent-dark.png); position:relative; letter-spacing:-0.01em;}
.ratingblock h2 span.score{ position:absolute; top:0; right:0; padding:15px;}

.ratingblock h3{ text-transform:none; font-size:13px; margin:20px 0;}

/*.ratingblock i{ font-size:20px;}*/

.partialrating{ position:relative; height:18px; width:100%;display:block; background:url(images/transparent-dark.png); margin-top:8px;}
.overrating{ position:absolute; top:0; left:0;height:18px; z-index:1;overflow:hidden;line-height:1;display:block;}

.ratingbar{ position:absolute; top:20px; right:20px; z-index:1; height:39px; width:30px;display:block; text-align:center; } 
.ratingbar .overrating{ position:absolute; top:0; left:0;height:15px; z-index:1;overflow:hidden;line-height:1;display:block; opacity:.9}    
.ratingbar .overratingnr{ position:absolute; top:6px; left:7px;z-index:2; color:#fff;opacity:1; font-weight:bold; text-transform:uppercase;font-size:14px; line-height:1 
!important;}
.overratingnr span{font-weight:normal;font-size:11px;}



/* @plugins styling
********************************************************************************************
********************************************************************************************/

h2 label{ float:none;}

#subscribe-field{ padding:8px 13px; width:91% !important; margin-bottom:15px;}

.sharedaddy{ margin-top:20px;}

.tp_recent_tweets ul li{
    overflow:hidden;
    padding:15px 0 !important;
    background:url(images/line-h-l.png) top repeat-x;
    margin:0 !important;
    }

.tp_recent_tweets ul li:first-child{
    background:none;padding:0 0 15px 0 !important;
}

a.twitter_time{
    font-style:italic; font-size:11px;
}

#rightsidebar #ssba{ padding:20px 16px; border-bottom:1px solid #ddd;}

.lang_sel_sel{ margin:7px 0 0 0;}

.home .addthis-smartlayers{ display:none;}





/* @speciable
********************************************************************************************
********************************************************************************************/


.fl{float:left; overflow:hidden;}

.fr{float:right; overflow:hidden;}

.visfix{ overflow:visible !important;}

.cntr{ text-align:center !important; border-bottom:1px solid #ddd;}

.large{ font-size:18px !important;}

.upper #main-nav>li>a,
.upper .searchform input.s,
.upper ul#serinfo-nav li a,
.upper h2.widget,
.upper h2.widget_alt,
#footer .upper h2,
.upper h3.additional,
.upper .meta_more a
{  letter-spacing:-0.025em}