h2.widget_spec {
    font: 700 13px/1.2em Open Sans;
color: #3d3d3d;
}

span.entradilla{
font-size: 20px;
font-weight: bold;
}

.bloqueentradilla{
border-bottom: 1px solid #ccc;
padding: 20px 0 10px 0;
margin-bottom: 10px;
}
.generic-light-title {
font-size: 18px;
font-weight: 300;
margin-bottom: 15px;
}

.detail-block {
margin-bottom: 30px;
border-bottom: 1px solid #ccc;
padding-bottom: 40px;
overflow: hidden;
}
.fblock_feed {
width: 30%;
float: left;
margin-right: 5%;
}

/*END MENU ENA*/

/*Footer*/

#footer-ena {
    background: #555;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    color: #fff;
}
#footer-ena a {
    color: #fff;
    text-decoration: underline;
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
}
footer a {
color: #fff;
text-decoration: underline;
-webkit-transition: color .5s ease;
transition: color .5s ease;
}

#footer-ena a:hover {
    color: #43b9ff !important; 
}

.footer-social-links {
    padding: 25px 0 15px;
    border-bottom: 1px solid #626262;
}
.footer-social-links ul {
    display: table;
    margin: 0 auto;
}
.footer-social-links ul li {
    padding: 0 12px;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.footer-social-links ul li.first {
    padding-left: 0;
}
.footer-social-links ul li.last {
    padding-right: 0;
}
.footer-social-links a {
    color: #fff;
    text-decoration: none;
}
.footer-social-links a i {
    display: block;
    font-size: 36px;
    margin: 0 0 5px;
    text-align: center;
}
.footer-other-sites {
    border-bottom: 1px solid #626262;
}
.footer-other-sites h3 {
    margin: 0 0 10px 0;
}
.footer-other-sites .col-sm-4 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-intra-links {
    border-bottom: 1px solid #626262;
}
.footer-intra-links .col-sm-4 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.grupo-intercom {
    padding: 25px 0;
}
.grupo-intercom img {
    display: table;
    margin: 0 auto;
    width: 120px;
}
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-other-sites h3 {
margin: 0 0 10px 0;
}

.footer-intra-links .col-sm-4 {
padding-top: 30px;
padding-bottom: 30px;
}
.footer-social-links a {
color: #fff;
text-decoration: none !important;
}

.col-sm-4 {
margin-left:0;
float: left;
min-height: 1px;
overflow:hidden;
}

.generic-light-title-sm, h3 {
font-size: 16px;
font-weight: 300;
margin-bottom: 10px;
}

i.fa.fa-angle-right {
    margin: 0 5px 0 0;
}

.col-sm-4 {
width: 33.33333333%;
}

#navigation_wrap {
width: 100%;
max-width: 1280px;
margin: 10px auto 30px auto;
padding: 0 20px;
position: relative;
}

a.access-publish{
     color:#fff!important; */
}
a.publish-free {
    color:#fff !important; */
}

h2.widget {
margin: 15px 0;
padding: 0 0 0 8px;
line-height: 2 !important; */
border-left: 8px solid #900;
overflow: hidden;
}

.searhform, input.s {
    border-radius: 3px !important;*/;
    color: #999 !important;*/
}

i.fa.fa-chevron-down {
margin: 0 5px 0 10px;
}

    header {
        margin-bottom: 20px;
        background: #ffffff  ;
        border-bottom: 1px solid #cccccc  ;
        box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.15)  ;
        height: 50px;
        font-size: 14px;
        position: relative;
        z-index: 1;
        font-family: 'Open Sans',Arial,sans-serif;
    }

    header a {
        color: #006aa9  ;
        text-decoration: none;        
    }
    header a:hover {
        color: #008adc  ;
        text-decoration: underline;
    }

    .container2 {
        margin: 0 auto;
        text-align: left;
        width: 960px;
        overflow: hidden;
    }

    .logo-ena {
        float: left;
        padding: 12px 12px 12px 0;
        margin: 0;
    }

    .logo-ena img { height: 26px; }

    .main-nav { float: left; }
    .main-nav .list-inline {
        list-style: none outside none;
        margin-left: 0;
        padding-left: 0;
    }
    .main-nav li {
        float: left;
        margin: 0;
        padding: 0;
    }
    .main-nav li a {
        list-style: none outside none;
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        padding: 15px 10px 12px
    }
    .main-nav li a .fa-star { color: #cccccc  ; }
    .main-nav li a .favourited-star { color: #ff9400  ; }

    .main-nav .active a {
        font-weight: bold;
        letter-spacing: -1.2px;
    }

  

    .access {
        float: right;
        margin: 18px 10px 0 0;
    }
    .access-publish {
overflow: hidden;
}

    .access-publish .publish-free {
float: right;
margin: 8px 0 0 0;
padding: 6px 14px;
}
.access-publish a:hover {
    color:#fff !important;
}

.btn {
border: 1px solid rgba(0,0,0,0.2);
text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.2) inset;
box-shadow: 0 -1px 0 rgba(0,0,0,0.2) inset;
}
.btn-sm {
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}
.btn-warning {
color: #fff;
background-color: #ff9400;
border-color: #e68500;
}

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: bold;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 12px;


}

    .popover {
        max-width: 276px;
        padding: 0;
        z-index: 9;
        margin-top: 25px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)  ;
    }
    .popover.bottom .arrow:after {
        border-bottom-color: #f7f7f7   !important;
        border-bottom-color: #ffffff  ;
        border-top-width: 0;
        content: " ";
        margin-left: -10px;
        top: 1px;
    }
    .popover > .arrow:after {
        border-width: 10px;
        content: "";
    }
    .popover > .arrow, .popover > .arrow:after {
        border-color: transparent;
        border-style: solid;
        display: block;
        height: 0;
        position: absolute;
        width: 0;
    }
    .popover.bottom > .arrow {
        border-bottom-color: #cccccc  ;
        border-top-width: 0;
        left: 50%;
        margin-left: -11px;
        top: -11px;
    }
    .popover .arrow { border-width: 10px; }

    .popover-title {
        background-color: #f7f7f7  ;
        border: 1px solid #cccccc  ;
        border-bottom-color: #ebebeb  ; 
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        margin: 0;
        padding: 8px 14px;
        color: #555555  ;
    }

    .popover-content {
        background: #fff;
        padding: 5px 15px 15px;
        font-size: 14px;
    }

    .popover-content a {
        display: block;
        margin-top: 10px;
    }

    /*Post*/

    .entry h2 {
       display: inline-block; 
    }

